html {
    font-size: 22px;
}

body {
    background: #daf56a;
    min-height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

#title {
    max-width: 600px;
    color: #ff0043;
    background: #000000;
}